/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Default style overide */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
/* Fixes background issue on Newsletter page */
html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    color: black;
}

.hide {
    display: none;
}

/* Header */
header {
    background-color: #FB625D;
    position: fixed;
    z-index: 90;
    width: 100%;
    text-align: center;
}

#logo {
    font-family: 'DM Serif Display', serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

#nav-bar {
    list-style-type: none;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 120%;
    padding-bottom: 5px;
}

/* Main Content */
main {
    background-color: #f5c1ae;
    flex: 1 0 auto;
    margin-top: 108px;
    padding-top: 5px;
}

#intro {
    padding: 15px 5px 0 5px;
}

/* Gallery */
#images img {
    width: 100%;
}

#images {
    line-height: 0;
}

/* Timeline */
hr.line {
    border-top: 5px solid;
    margin-top: 0.5rem;
}

.period-title {
    padding: 0.5rem 0;
}

.description {
    line-height: 1.5em;
}

#timeline {
    padding: 0 5px;
}

/* Newsletter Sign-up */
#newsletter {
    background-image: url("../images/shutterstock_1056459407.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 10%;
    flex-grow: 1;
    height: 100%;
}

#newsletter-form {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px;
    position: absolute;
    right: 0;
    width: 100%;
}

#newsletter-form>h2 {
    margin-bottom: 10px;
}

.text-box {
    background: transparent;
    color: #ffffff;
    height: 20px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    padding: 5px;
}

.category {
    font-weight: bold;
}

#form-button {
    margin-top: 10px;
    display: grid;
    gap: 10px;
}

.container {
    font-size: 100%;
    font-weight: 600;
}

/* Footer */
footer {
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FB625D;
}

#social-media {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
}

/* Media query */

/* Header for more than 330px */
@media screen and (min-width: 330px) {
    main {
        margin-top: 74px;
    }

    #logo {
        padding-bottom: 10px;
    }
}

/* Header for 362-375px*/
@media screen and (min-width: 362px) and (max-width: 375px) {
    main {
        margin-top: 75px;
    }
}

/* Navigation bar for below 420px */
@media screen and (max-width: 420px) {
    .hidden {
        display: none;
    }
}

/* Large and lanscape phones 576px< */
@media screen and (min-width: 576px) {

    /* Gallery */
    #images {
        column-count: 2;
        column-gap: 0;
    }
}

/* Tablets and up 768px< */
@media screen and (min-width: 768px) {

    /* Newsletter */
    #newsletter-form {
        max-width: fit-content;
        left: 10%;
        top: 150px;
    }
}

/* Large devices 992px< */
@media screen and (min-width: 992px) {

    /* Gallery */
    #images {
        column-count: 3;
    }
}